[client]
user=root
password=docker

[mysqld]
server_id=2
wsrep_provider=/usr/lib64/libgalera_smm.so
wsrep_cluster_address=gcomm://node1
wsrep_sst_auth=username:password
wsrep_provider_options="gcache.size=4G"
wsrep_cluster_name=docker_cluster
wsrep_sst_method=xtrabackup
wsrep_node_name=db_02
wsrep_slave_threads=4
log_slave_updates
innodb_autoinc_lock_mode=2
innodb_locks_unsafe_for_binlog=1
bind-address=0.0.0.0
binlog_format=ROW
default_storage_engine=InnoDB
